.home {

    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(lmage/breads-1867459_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.nav .photo1 {
    width: 38%;
    display: inline-block;
}

.photo1 img {
    width: 40%;
    padding: 15px 0 0 25px;
}

.nav nav .an {
    width: 60%;
    height: 100%;
    display: inline-block;
    padding-bottom: 5px;
    text-align: center;
}

.an a {
    color: whitesmoke;
    margin-left: 80px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
}



.center {
    text-align: center;
    padding-top: 150px;
}

.center span {
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 1000;
}

.center h1 {
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 60px;
    font-weight: 1000;
}

.center p {
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 1000;
}

.center .b1 {
    height: 35px;
    width: 100px;
    color: whitesmoke;
    background-color: rgb(168, 130, 85);
    border: none;
    border-radius: 10%;
}

.center .b2 {
    height: 35px;
    width: 100px;
    color: whitesmoke;
    background-color: transparent;
    border: white solid;
    margin-left: 20px;
    border-radius: 10%;
}

.p2 {
    width: 100%;
    background-color: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}

.p2 span {
    font-size: 30px;
}

.p2 .write {
    padding-right: 150px;
    text-align: center;
}

.p2 .photo2 {

    width: 50%;
    float: left;
    height: 100%;

}

.p2 img {
    width: 80%;
    padding-left: 100px;
    height: 100%;
}

.p2 .right {
    width: 50%;
    float: right;
    text-align: center;

}

.right p {

    color: rgb(20, 88, 65);
}

.i {
    text-align: left;

}

.i i {
    color: #ffa82e;
    display: inline-block;
    border-radius: 50%;
}

.i p {
    display: inline-block;
}

.clear {
    clear: both;
}




.p3 {
    width: 100%;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.p3 span {
    font-size: 30px;
}

.p3 .write {
    padding-left: 50px;
    text-align: center;
}

.p3 .photo2 {
    width: 50%;
    float: right;

}

.p3 img {
    width: 80%;
    padding-left: 60px;
}

.p3 .left {
    width: 50%;
    float: left;
    text-align: center;

}

.p3 .left p {

    color: rgb(20, 88, 65);
}

.clear {
    clear: both;
}




.p4 {
    width: 100%;
    background-color: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}

.p4 span {
    font-size: 30px;
}

.p4 .write {
    padding-left: 50px;
    text-align: center;
}

.p4 .em_map {
    width: 50%;
    float: right;

}

.p4 iframe {
    width: 80%;
    padding-left: 60px;
}

.p4 .left {
    width: 50%;
    float: left;
    text-align: center;

}

.p4 .left p {

    color: rgb(20, 88, 65);
}

.pmap {
    text-align: left;
}

.p4 .i {
    text-align: left;
    padding-left: 50px;
}

.p4 .i i {
    color: #ffa82e;
    display: inline-block;
    border-radius: 50%;
}

.p4 .i p {
    display: inline-block;
}

.clear {
    clear: both;
}






.p5 {
    width: 100%;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.p5 .up {
    text-align: center;
}

.p5 span {
    font-size: 30px;
}

.p5 .container {
    padding: 0 40px 0 40px;
    text-align: center;
}

.container span {
    font-size: 20px;
}

.ph1 {
    width: 33%;
    float: left;
}

.ph2 {
    width: 33%;
    float: left;
}

.ph3 {
    width: 33%;
    float: left;
}

.p5 img {
    width: 95%;
}





.p6 {
    width: 100%;
    background-color: burlywood;
    padding-top: 40px;
    padding-bottom: 40px;
}

.line {
    width: 90%;
    height: 2px;
    background-color: rgb(94, 62, 21);
}

.p6 .container {
    padding: 0 40px 0 40px;
    text-align: left;
    color: gray;
}

.p6 .ph1 {
    width: 25%;
    float: left;
}

.p6 .ph2 {
    width: 25%;
    float: left;
}

.p6 .ph3 {
    width: 25%;
    float: left;
}

.p6 .ph4 {
    width: 25%;
    float: left;
}

.oo .i {
    padding-top: 10px;
}

.oo a {
    text-decoration: none;
    color: gray;
}

.clear {
    width: 25%;
    clear: both;
}


.p7 {
    width: 100%;
    background-color: rgb(132, 104, 69);
    padding-top: 40px;
    padding-bottom: 40px;
}

.p7 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p7 .container {
    text-align: center;
}